In [2]:
import os
import shutil
import pandas as pd
import numpy as np

In [3]:
# Import the Student Placement Master as csv file.
# Need to have columns: "Department", "R#", "First", "Last"
df = pd.read_csv("./data/Incoming Student Placement(Student Master List).csv") # Give the code a path to the csv here
df.head(1)

,Department,R#,Pref,Last,First,Email,Status,Award,Country (For Int Students),Domestic or Int,...,Unnamed: 475,Unnamed: 476,Unnamed: 477,Unnamed: 478,Unnamed: 479,Unnamed: 480,Unnamed: 481,Unnamed: 482,Unnamed: 483,Unnamed: 484
0,NaN,R06002147,Muhammad Ali,Abduvohidov,Muhammadali,abdmu-29@rhodes.edu,C,CCE,United States,Dom,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Just making sure "Department" column is not empty
df = df[df["Department"].notna()]

In [7]:
# Just making sure "Department" column is not empty
df = df[df["Department"] != 0]

In [16]:
# In "./data" folder, download all the incoming student application folders into "Incoming Students Apps". 
# This folder represents all the students that HAVE a folder.
rids = {}
student_dir = "./data/Incoming Students Apps/"
for x in os.listdir(student_dir):
    if "-" not in x:
        continue
    
    rid = x.rsplit("-", 1)[1]
    rids[rid.strip()] = os.path.join(student_dir, x)

In [17]:
df.columns[:15]

Index(['Department', 'R#', 'Pref', 'Last', 'First', 'Email', 'Status', 'Award',
       'Country (For Int Students)', 'Domestic or Int', 'Verified/Documents',
       'Application', 'Department.1', 'Supervisor', 'Unnamed: 14'],
      dtype='object')

In [18]:
# Making sure every student in the Student Placement Master List has their folder created in "./data/Incoming Students Apps/"
for i,data in df.iterrows():
    if data["R#"] not in rids:
        print(data)
    assert data["R#"] in rids

In [1]:
# dep_path = "./data/All Departments/"
# dep_dirs = os.listdir(dep_path)
# for i, data in df.iterrows():
#     department = data["Department"].replace("/", "_").strip()
#     assert department in dep_dirs

In [23]:
for i, data in df.iterrows():
    department = data["Department"].replace("/", "_").strip()
    
    fold_name = f"{data["First"]} {data["Last"]} - {data["R#"]}"
    desti_fold = os.path.join(dep_path, department, fold_name)

    if os.path.exists(desti_fold):
        continue
    shutil.copytree(rids[data["R#"]], desti_fold)

# rids